extends ../../layout/default
include ../../mixins/box-head.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-multi-action.pug
include ../../mixins/alert.pug
include ../../mixins/multi-sort.pug

block main
  +alert-success(5000)
  +alert-error(5000)
  +box-head("Danh Sách Sản Phẩm")
  .card.mb-3
    .card-header Bộ lọc và tìm kiếm
    .card-body
      .row 
        .col-8
          +filterStatus(status)
        .col-4 
          +search(keyword)
  .card.mb-3
    .card-header Sắp xếp
    .card-body
      +multi-sort()


  .card.mb-3 
    .card-header Danh Sách 
    .card-body
      .row 
        .col-3 
          +form-multi-action(`${prefixAdmin}/products/change-multi?_method=PATCH`)
        .col-7 
        .col-2
          a.btn.btn-success(href=`${prefixAdmin}/products/create`) + Thêm mới 

      table.table.table-hover(checkbox-multi)
        thead 
          tr
            th 
              input(class="form-check-input" type="checkbox" value="" name="check-change-all")
            th STT 
            th Hình ảnh
            th Tiêu đề 
            th Giá
            th Vị trí
            th Trạng thái
            th Hoạt động
        tbody
          each item, index in listProduct
            tr
              td
                input(class="form-check-input" type="checkbox" value=item._id name="check-change") 
              td #{index+1}
              td
                img(
                  src=item.thumbnail
                  alt=item.title
                  width="100px"
                  height="auto"
                  class="border "
                )
              td #{item.title}
              td #{item.price}$
              td 
                input(type="number" style='width: 70px' class=" form-control" name="position" min=1 data-id=item._id value=item.position)
              td
                button(
                  class=`badge btn ${
                    item.availabilityStatus === "In Stock" ? "btn-success" : "btn-danger"
                  }`
                  data-status=item.availabilityStatus
                  data-id=item._id
                  btn-change-status
                ) #{item.availabilityStatus}

              td
                a.btn.btn-secondary(href=`${prefixAdmin}/products/detail/${item._id}`) detail
                a.btn.btn-warning.ms-2(href=`${prefixAdmin}/products/edit/${item._id}`) edit
                button.btn.btn-danger.ms-2(btn-delete data-id=item._id) delete
  +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`
  )  
  form(
    action=""
    method="POST"
    id="form-delete"
    data-path=`${prefixAdmin}/products/delete`
  )  
  
  script(src="/admin/js/product.js")